body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
    body {
      font-size: 12px;
    }

    input[type=text] {
      max-width: 100px;
    }
}

header {
  margin: 0;
}

.messages {
    text-align: center;
    overflow: auto;
    max-width: 480px;
    margin: auto;
}

footer {
  overflow: auto;
  max-width: 480px;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#bowl-button {
    background-color: #ff5900;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

#reset {
    float: right;
    background-color: white;
    border: solid 1px #ff5900;
    color: #ff5900;
    padding: 8px 14px;
    border-radius: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

#wrapper {
  overflow: auto;
  max-width: 480px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.bowl {
  float: left;
}

.score {
  float: right;
}

#score-display {
  margin: 0;
  margin-right: 35px;
  margin-bottom: 20px;
  font-size: 6em;
}


input[type=text] {
    display: block;
    max-width: 140px;
    height: 50%;
    padding: 20px 20px;
    margin: auto;
    box-sizing: border-box;
    font-size: 6em;
    border: none;
    border-bottom: solid red;
    outline: none;
}

#info {
  background-color: #ff5900;
  color: white;
}

#info ul {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

#error-message {
  display: none;
}

#notice-message {
  display: none;
}

#input-holder {
  width: 100%;
  margin-left: 50px;
  margin-top: 100px;
}

#bowl-button {
  margin-top: 20px;
  margin-left: 60px;
}

#history-header {
  border-bottom: solid 2px red;
}

#pins-left {
  display: none;
}

#logo {
  font-size: 3em;
  margin: 0;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
